<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>

<body>
    {% with messages = get_flashed_messages(category_filter=["register"]) %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Login and Registration</h1>
    <h2>Register here!</h2>
    <form action="/generate" method='post'>
        <input type="hidden" name="type" value="register">
        <div>
            <label for="first_name">First Name : </label>
            <input type="text" name="first_name" id="first_name">
        </div>
        <div>
            <label for="last_name">Last Name : </label>
            <input type="text" name="last_name" id="last_name">
        </div>
        <div>
            <label for="email">Email : </label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="password">Password : </label>
            <input type="text" name="password" id="password">
        </div>
        <div>
            <label for="password_confirm">Re-Enter Password : </label>
            <input type="text" name="password_confirm" id="password_confirm">
        </div>
        <input type="submit" value="Register">
    </form>
    {% with messages = get_flashed_messages(category_filter=["login"]) %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Login here!</h2>
    <form action="/generate" method='post'>
        <input type="hidden" name="type" value="login">
        <div>
            <label for="email">Email : </label>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="password">Password : </label>
            <input type="text" name="password" id="password">
        </div>
        <input type="submit" value="Login">
    </form>

</body>

</html>